<div class="page-container" v-cloak>
    <el-card>
        <template #header>
            <div class="breadcrumb">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item>消息列表</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
        </template>
        <div>
            <el-form :inline="true">
                <el-form-item>
                    <el-input style="width: 200px;" v-model="where.title" clearable placeholder="标题"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-input style="width: 100px;" v-model="where.target" clearable placeholder="来源"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-input style="width: 100px;" v-model="where.target_type" clearable placeholder="来源类型"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-input style="width: 100px;" v-model="where.receiver" clearable placeholder="接收者"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-input style="width: 100px;" v-model="where.receiver_type" clearable
                              placeholder="接收者类型"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-input style="width: 100px;" v-model="where.sender" clearable placeholder="发送者"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-input style="width: 100px;" v-model="where.sender_type" clearable
                              placeholder="发送者类型"></el-input>
                </el-form-item>
            </el-form>
            <div style="margin-bottom: 20px;">
                <el-button type="primary" @click="searchEvent">查询</el-button>
                <el-button type="primary" @click="createEvent">创建测试消息</el-button>
                <el-radio-group style="margin-left: 20px" @change="searchEvent"
                                v-model="where.process_status">
                    <el-radio-button label="">全部</el-radio-button>
                    <el-radio-button label="0">未处理</el-radio-button>
                    <el-radio-button label="1">已处理</el-radio-button>
                    <el-radio-button label="2">处理失败</el-radio-button>
                </el-radio-group>
            </div>
        </div>
        <div>
            <el-table

                    :data="data_list"
                    style="width: 100%">
                <el-table-column
                        fixed
                        prop="message_id"
                        label="ID"
                        width="80">
                </el-table-column>
                <el-table-column
                        prop="title"
                        label="标题"
                        min-width="120">
                </el-table-column>
                <el-table-column
                        prop="content"
                        min-width="200"
                        label="内容">
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="target"
                        label="来源"
                        min-width="100">
                    <template #default="{row}">
                        <div>{{row.target}}</div>
                        <div>{{row.target_type}}</div>
                    </template>
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="target"
                        label="接收者"
                        min-width="100">
                    <template #default="{row}">
                        <div>{{row.receiver}}</div>
                        <div>{{row.receiver_type}}</div>
                    </template>
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="sender"
                        label="发送者"
                        min-width="100">
                    <template #default="{row}">
                        <div>{{row.sender}}</div>
                        <div>{{row.sender_type}}</div>
                    </template>
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="read_time"
                        label="处理（发送）状态"
                        min-width="160">
                    <template #default="{row}">
                        <div style="position: relative;">
                            <div v-if="row.process_status==1">
                                <el-tag type="success">已处理</el-tag>
                                <div>
                                    {{row.process_time}}
                                </div>
                            </div>
                            <div v-if="row.process_status==0">
                                <el-tag type="primary">未处理</el-tag>
                            </div>
                            <div v-if="row.process_status==2">
                                <el-tag type="danger">处理失败</el-tag>
                                <div>
                                    <div>处理次数： {{row.process_count}}</div>
                                    {{row.process_time}}
                                </div>
                            </div>
                            <div v-if="row.last_error_info" style="position: absolute;top: 0;right: 10px;">
                                <el-popover
                                        placement="bottom"
                                        title="错误详情"
                                        width="700"
                                        trigger="click">
                                    <div>
                                        <div>消息：{{row.last_error_info.error_msg}}</div>
                                        <div>处理类：{{row.last_error_info.process_class}}</div>
                                        <pre style="white-space: pre-wrap;">{{row.last_error_info.error_detail}}</pre>
                                    </div>
                                    <div slot="reference">
                                        <i style="font-size: 14px;cursor: pointer;color: #F56C6C;margin-left: 4px;"
                                           class="el-icon-question"></i>
                                    </div>
                                </el-popover>
                            </div>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="read_time"
                        label="已读状态"
                        min-width="140">
                    <template #default="{row}">
                        <div v-if="row.read_time">
                            <el-tag type="success">已读</el-tag>
                            <div>
                                {{row.read_time}}
                            </div>
                        </div>
                        <div v-else>
                            <el-tag type="danger">未读</el-tag>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="created_at"
                        label="创建时间"
                        width="160">
                </el-table-column>
                <el-table-column
                        fixed="right"
                        align="center"
                        min-width="180"
                        label="操作">
                    <template #default="{row}">
                        <el-link>
                            <el-button @click="handleEvent(row)" type="primary">处理</el-button>
                        </el-link>
                        <el-link @click="deleteEvent(row)">
                            <el-button type="danger">删除</el-button>
                        </el-link>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        background
                        layout="prev, pager, next"
                        :total="total_num"
                        :current-page="current_page"
                        :page-size="per_page"
                        @current-change="currentChangeEvent"
                >
                </el-pagination>
            </div>
        </div>
    </el-card>
</div>
<style>
    .el-form--inline .el-form-item {
        margin-right: 18px;
    }
</style>

<script>
    const App = {
        data() {
            return {
                is_init_list: true,
                where: {
                    process_status: ""
                },
            }
        },
        methods: {
            handleEvent({message_id}) {
                this.$confirm("是否确认重新执行处理操作？", '提示').then(() => {
                    this.httpPost("{:url('message/message/handle')}", {message_id}).then(res => {
                        if (res.status) {
                            this.$message.success(res.msg)
                            this.GetList()
                        }
                    })
                })
            },
            createEvent() {
                this.httpPost("{:url('message/message/create')}").then(res => {
                    if (res.status) {
                        this.$message.success(res.msg)
                        this.GetList()
                    }
                })
            },
            GetList() {
                this.httpGet("{:url('message/message/lists')}", {
                    page: this.current_page,
                    where: this.where
                }).then(res => {
                    let {lists = {}} = res.data
                    this.handRes(lists)
                })
            },
            deleteEvent({message_id}) {
                this.$confirm("是否确认删除该记录？", '提示').then(() => {
                    this.httpPost("{:url('message/message/delete')}", {message_id}).then(res => {
                        if (res.status) {
                            this.$message.success(res.msg)
                            this.GetList()
                        }
                    })
                }).catch(err => {
                })
            },
            searchEvent() {
                this.current_page = 1
                this.GetList()
            }
        }
    }
</script>